.all-clients{
    grid-column: 1 / -1;
    height: 100%;
    /* max-width: 775px; */
    /* overflow: hidden; */
}
.client-list-header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 42px;
    @media screen and (min-width: 48rem) { 
        flex-direction: row;
    }
    h1{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 0;
        @media screen and (min-width: 48rem) { 
            font-size: 30px;
        }
    }
    input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000;
        border-radius: 0;
        padding: 0;
        padding-bottom: 10px;
        outline: none; 
        box-shadow: none;
        width: 100%;
        @media screen and (min-width: 48rem) { 
        }
    }

    input:hover,
    input:focus {
        border-bottom: 1px solid #000; 
        outline: none;
        box-shadow: none;
    }

}

.search-client{
    display: flex;
    position: relative;
    @media screen and (min-width: 48rem) { 
         width: 427px;

     }
    img{
        position: absolute;
        right: 0;
        top: -10px;
    }
}

button{
    display: flex;
    align-self: center;
    background: transparent;
    color: #000;
    span{
        margin-top: 5px;
    }
}

.add-client-bottom{
    background-color: var(--green-bg);
    padding: 5px 10px;
    border-radius: 5px;
}

.clients-list-item{
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
     @media screen and (min-width: 48rem) { 
        flex-direction: row;
     }
}

.clients-list {
  flex: 1;
  overflow-y: auto;
  max-height: 550px;
  padding-right: 5px;
   @media screen and (min-width: 48rem) { 
     max-height: 400px;
  }
}

.add-task-open-btn, .client-name-task{
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 40px;
    button{
        &:last-child{
            span{
                margin-top: 2px;
            }
        }
        &:first-child{
            background-color: var(--green-bg);
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
}

.client-name-task{
    gap: 50px;
     @media screen and (min-width: 48rem) { 
        gap: 160px;
     }
}

.clients-list::-webkit-scrollbar {
  width: 4px;
}

.clients-list::-webkit-scrollbar-track {
  background: transparent;
}

.clients-list::-webkit-scrollbar-thumb {
  background-color: var(--green-bg);
  border-radius: 10px;
}
