.files-overview{
    grid-column: 1 / -1;
    max-width: 48.4375rem;
}

.files-items, li{
    display: flex;
    flex-direction: column;
    gap: 10px;

    .file-item{
        cursor: pointer;
        background-color: #fff;
        padding: 22px 30px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        >div, .remove-btn {
            display: flex;
            align-self: center;
            gap: 10px;
            img{
                width: 20px;
            }
        }
        &:hover{
            background: var(--red-bg);
            color: #fff;
            span{
                color: #fff;
            }
        }
    }

    a{
        text-decoration: underline
    }
}

.remove-btn {
  color: #000;
  background: transparent;
  border: none;
  cursor: pointer;
  span{
    color: var(--red-bg);
    line-height: 23px;
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--red-bg);
  color: white;
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}
