.files-overview{
    grid-column: 1 / -1;
    max-width: 48.4375rem;
}
.files-items {
  max-height: 650px;
  overflow-y: auto;
  padding-right: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 48rem) { 
    max-height: 400px;
  }
}
.files-items, li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
    .file-item{
        cursor: pointer;
        background-color: #fff;
        padding: 22px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 10px;
        gap: 20px;
        align-items: center;
        @media screen and (min-width: 48rem) { 
            flex-direction: row;
        }
        >div, .remove-btn {
            display: flex;
            align-self: center;
            gap: 10px;
            img{
                width: 20px;
            }
        }
        &:hover{
            background: var(--red-bg);
            color: #fff;
            span{
                color: #fff;
            }
        }
    }

    a{
        text-decoration: underline
    }
}

.remove-btn {
  color: #000;
  background: transparent;
  border: none;
  cursor: pointer;
  span{
    color: var(--red-bg);
    line-height: 23px;
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--red-bg);
  color: white;
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}


/* Estilo do scroll - Webkit (Chrome, Edge, Safari) */
.files-items::-webkit-scrollbar {
  width: 2px;
}

.files-items::-webkit-scrollbar-track {
  background: transparent;
}

.files-items::-webkit-scrollbar-thumb {
  background-color: var(--red-bg);
  border-radius: 10px;
}

/* Estilo do scroll - Firefox */
.files-items {
  scrollbar-width: thin;
  scrollbar-color: var(--red-bg) transparent;
}