.client-dashboard{
  grid-column: 1 / -1;
}

.task-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 775px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.task-row {
  display: flex;
  justify-content: space-between;
  padding: 22px 30px;
  align-items: center;
  text-transform: uppercase;
}

.task-item {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    background: var(--red-bg);
    .toggle-btn, .status-color, .task-row{
      color: #fff;
    }
    .status-dot{
      background-color: #fff;
    }
    .toggle-btn svg{
      transition: all 0.3s ease-in-out;
      path{
        stroke: white;
      }
    }
  }
}

.toggle-btn {
  position: relative;
  padding: 4px 10px;
  color: #000;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-self: center;
  line-height: 23px;
  svg{
    position: relative;
  }
}

.toggle-btn.active svg{
  transform: rotate(-90deg);
}
.status-row{
  font-weight: bold;
  display: flex;
  align-self: center;
}
.status-dot {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 6px;
}
.status-color.open{
  color: var(--blue-bg);
}

.status-color.checking{
   color: var(--green-bg);
}

.status-dot.checking{
   background-color: var(--green-bg);
}

.status-color.upcoming{
  color: var(--orange-bg);
}
.status-dot.upcoming {
  background-color: var(--orange-bg);
}

.status-dot.open {
  background-color: var(--blue-bg);
}

.task-details {
  padding: 22px 30px;
  padding-top: 0;
  background-color: #fff;
}

.detail-grid, .detail-grid-accountant{
  display: grid;
  grid-template-columns: repeat(5 , 1fr);
  gap: 48px;
  padding-top: 22px;
  border-top: 1px solid var(--cream-bg);
  transition: all 0.3s ease-in-out;
  .detail-item{
    position: relative;
    display: flex;
    gap: 14px;
    flex-direction: column;

    &::after{
      content: '';
      position: absolute;
      width: 1px;
      height: calc(100% + 44px);
      left: -30px;
      top: -22px;
      background-color: var(--cream-bg);
    }
    &:first-child::after{
      display: none;
    }
    a{
      text-decoration: underline;
      display: flex;
      align-self: center;
      gap: 10px;
      background-color: var(--cream-bg);
      padding: 10px;
      border-radius: 10px;
    }
    strong{
      text-transform: uppercase;
    }
    input{
      padding: 0;
      width: 88%;
      border-radius: 0;
      cursor: pointer;
    }
  }
}
.detail-grid-accountant{
  grid-template-columns: repeat(3 , 1fr);
}

.aprove-btn, .reject-btn{
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  span{
    padding-left: 10px;
  }
}

.aprove-btn{
  background-color: var(--green-bg);
}

.reject-btn{
  background-color: var(--red-bg);
}

.task-desc {
  margin-top: 8px;
  color: #333;
}


.payment-id{
  position: relative;
}
.copy{
  position: absolute;
  top: 0;
  right: -3px;
}