.client-dashboard{
  grid-column: 1 / -1;
}

.task-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 775px;
  max-height: 550px;
  overflow-y: auto;
  @media screen and (min-width: 48rem) { 
     max-height: 400px;
  }
}
.task-list::-webkit-scrollbar {
  width: 4px;
}

.task-list::-webkit-scrollbar-track {
  background: transparent;
}

.task-list::-webkit-scrollbar-thumb {
  background-color: var(--green-bg);
  border-radius: 10px;
}

.task-header {
  justify-content: space-between;
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
  display: none;
  @media screen and (min-width: 48rem) { 
    display: flex;
  }
}

.task-row {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  align-items: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 40px;
  @media screen and (min-width: 48rem) { 
    padding: 10px 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
  }
}

.task-item {
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    background: var(--red-bg);
    .toggle-btn, .status-color, .task-row{
      color: #fff;
    }
    .status-dot{
      background-color: #fff;
    }
    .toggle-btn svg{
      transition: all 0.3s ease-in-out;
      path{
        stroke: white;
      }
    }
    
  }
}
.toggle-span{
  width: 100%;
  @media screen and (min-width: 48rem) { 
    width: auto;
  }
}
.toggle-btn {
  position: relative;
  padding: 4px 10px;
  color: #000;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
  line-height: 23px;
  background: var(--green-bg);
  border-radius: 10px;
  padding: 10px;

  @media screen and (min-width: 48rem) { 
    background: transparent;
  }
  svg{
    position: relative;
  }
  span{
    margin: 0;
  }

}

.toggle-btn.active svg{
  transform: rotate(-90deg);
}
.status-row{
  font-weight: bold;
  display: flex;
  align-self: center;
}
.status-dot {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 6px;
}
.status-color.open{
  color: var(--blue-bg);
}

.status-color.checking{
   color: var(--green-bg);
}

.status-dot.checking{
   background-color: var(--green-bg);
}

.status-color.upcoming{
  color: var(--orange-bg);
}
.status-dot.upcoming {
  background-color: var(--orange-bg);
}

.status-dot.open {
  background-color: var(--blue-bg);
}
.status-dot.close {
  background-color: var(--red-bg);
}

.status-color.close{
  color: var(--red-bg);
}

.task-details {
  padding: 22px 30px;
  padding-top: 0;
  background-color: #fff;
}

.detail-grid, .detail-grid-accountant{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 22px;
  border-top: 1px solid var(--cream-bg);
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 48rem) { 
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 48px;
    padding-top: 22px;
    border-top: 1px solid var(--cream-bg);
  }
  
  .detail-item{
    position: relative;
    display: flex;
    gap: 14px;
    flex-direction: column;
    margin-bottom: 20px;
    @media screen and (min-width: 48rem) { 
      margin-bottom: 0;
    }
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      top: -20px;
      background-color: var(--cream-bg);
       @media screen and (min-width: 48rem) { 
        width: 1px;
        height: calc(100% + 5px);
        left: -30px;
        top: -22px;
       }
    }
    &:first-child::after{
      display: none;
    }
    a{
      text-decoration: underline;
      display: flex;
      justify-content: left;
      gap: 10px;
      width: 100%;
      padding: 10px;
      @media screen and (min-width: 48rem) { 
        padding: 0;
        background: transparent;
        width: auto;
      }
    }
    strong{
      text-transform: uppercase;
    }
    input{
      padding: 0;
      width: 88%;
      border-radius: 0;
      cursor: pointer;
    }
  }

}
.detail-grid-accountant{
  grid-template-columns: repeat(3 , 1fr);
  gap: 30px;
}

.aprove-btn, .reject-btn{
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  span{
    padding-left: 10px;
  }
}

.aprove-btn{
  background-color: var(--green-bg);
}

.reject-btn{
  background-color: var(--red-bg);
}

.task-desc {
  margin-top: 8px;
  color: #333;
}


.payment-id{
  position: relative;
}
.copy{
  position: absolute;
  top: 0;
  right: -3px;
}

.task-items{
  position: relative;
  display: flex;
  align-items: center;
  .task-trash{
    position: absolute;
    right: 10px;
  }
  &:hover{
    .task-trash path{
      stroke: white;
    }
  }
}